langchain
langchain_community
langchain_core
langchain_docling
langchain_openai
langchain_text_splitters
langgraph
loguru
pydantic
python-dotenv
PyYAML
PyYAML
tqdm
typing_extensions
faiss-cpu
textblob
python_docx
yt_dlp
EbookLib