langchain
langchain_community
langchain_core
langchain_docling
langchain_openai
langchain_text_splitters
langgraph
loguru
pydantic
python-dotenv
PyYAML
PyYAML
tqdm
typing_extensions
pdfplumber
faiss-cpu
e2b-code-interpreter
gradio-client
xmltodict
wolframalpha
wikipedia
arxiv
google-search-results
unstructured_inference
pi-heif
pillow-heif
pypdf
openai-whisper
mutagen